*{
	font-family: 'Rubik', sans-serif;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	cursor: default;
}

body{
	margin: 0px;
	background: black;
	transition: background-color 0.5s ease;
	overflow: hidden;
}

.body-color{
	background-color: green;
}

.navigation-bar{
	position: fixed;
	top: 0;
	height: 50px;
	width: 100%;
	z-index: 1000;
}

.nav-items-container{
	position: absolute;
	margin: auto;
	right: 0;
	left: 0;
	width: 390px;
}

.nav-item{
	position relative;
	color: white;
	font-family: 'Tangerine', cursive;
	font-size: 40px;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 50px;
	cursor: pointer;
}

.scroll-arrow-holder{
	position: absolute;
	right: 10px;
	bottom: 10px;
	width: 50px;
	height: 110px;
	pointer-events: none;
	z-index: 1;
}

.scroll-down-arrow,.scroll-up-arrow{
	position: absolute;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background-color: white;
	cursor: pointer;
	pointer-events: all;
}

.scroll-down-arrow{
	bottom: 0;
}

.scroll-up-arrow{
	top: 0;
}

.chevron-down,.chevron-up{
	position: absolute;
	width: 22px;
	height: 15px;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	pointer-events: none;
}
.chevron-down{
	background: url('../assets/chevron-down.png') no-repeat;
}
.chevron-up{
	background: url('../assets/chevron-up.png') no-repeat;
}


.nav-underline{
	height: 5px;
	background-color: orange;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	transition: left 0.5s ease, width 0.5s ease;
}

.info-item{
	width: 100%;
	height: calc(100% - 50px);
	position: fixed;
	padding-top: 50px;
	overflow: auto;
	transition: transform 0.5s ease;
}

.info-item-intro{

}

.info-item-about-me{
	transform: translateY(100%);
	background: red;
}

.info-item-where-to-find-me{
	transform: translateY(100%);
}

@media (min-width: 800px){
	.nav-item{
		float: left;
	}
}

@media (max-width: 800px){
	.navigation-bar-mobile{
		background: url('../assets/ham-menu-icon.png') no-repeat;
		width: 40px;
		cursor: pointer;
		height: 40px;
	}
	.nav-items-container{
		display: none;
	}
}